PHPMailer/
PHPMailer
PHPMailer/*
/nbproject/private/
mailoutput/
mailoutput/*
.Rhistory
errors.csv
output.txt
last_execute.txt
sql.txt
config.R
R/stacked-files/
R/stacked-files/*
config.ini
data/
data/*
